.nav-header {
  background-color: red;
  height: 100px;
  padding: 20px 20px;
  color: white;
}
.nav-header .row {
  display: flex;
  align-items: center;
}
.nav-header .row .weather-date {
  display: flex;
  flex-direction: column;
}
.nav-header .row .weather-date .weather {
  padding-bottom: 15px;
}
.nav-header .row .weather-date .weather a {
  color: #fff;
  font-weight: 700;
}
.nav-header .row .weather-date .weather:hover {
  text-decoration: none;
}
.nav-header .row .weather-date .date {
  font-size: 1.2em;
}
.nav-header .row .right {
  padding-left: 150px;
  align-content: space-between;
  text-decoration: none;
}
.nav-header .row .right .right-span {
  padding-right: 15px;
}

#login {
  margin-right: 10px;
}

#login,
#subscribe-btn {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

#subscribe-btn {
  background-color: #ffe400;
  border-radius: 99em;
  padding: 1px 10px;
  white-space: nowrap;
  color: #000;
}

#hamburger {
  font-size: 1em;
  color: #fff;
  margin-left: 0.5em;
}

.container-fluid {
  max-width: 1380px;
  padding: 0;
}

.nav-1 {
  background-color: white;
  border-bottom: 3px solid;
  border-bottom-color: #f4f5f6;
  position: relative;
}
.nav-1 .navbar-nav {
  justify-content: center;
  font-size: 17px;
  font-weight: 800;
}
.nav-1 .nav-item {
  border-right: 2px solid #d9d9d9;
}
.nav-1 .nav-link {
  color: #000;
}

.nav-2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #f4f5f6;
}
.nav-2 .nav-link {
  color: #807f84;
}

.section-1 h3 {
  color: #999;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}
.section-1 a {
  color: #000;
}

.card {
  border: none;
  border-radius: 0;
  width: 100%;
}
.card img {
  width: 100%;
}
.card .card-img-b-overlay {
  position: relative;
}
.card .card-img-b-overlay p {
  position: absolute;
  bottom: 0;
  color: #fb2020;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
}
.card .card-body {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}
.card .card-title {
  font-size: 1.5em;
  padding: 10px 0 5px 0;
}
.card .card-text {
  font-size: 1.3em;
}
.card .image-name {
  position: absolute;
  bottom: 0;
  color: #fb2020;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 2em;
  padding: 5px;
}

.turn-1 {
  margin-top: 60px;
}
.turn-1 h2 {
  font-size: 1.5em;
  color: #817c7c;
  font-weight: 500;
}
.turn-1 .turn h4 {
  font-size: 1.3em;
}
.turn-1 .crd {
  bottom: 0;
  color: #fb2020;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1em;
  padding: 5px;
}

.more-stories h2 {
  font-size: 1.5em;
  color: #817c7c;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 0 10px 0;
}
.more-stories .story {
  padding: 10px 0 20px 0;
  border-top: 1px solid #aaa;
}
.more-stories .story .para {
  font-size: 1.2em;
}
.more-stories img {
  padding: 5px 25px 0 5px;
}

.debate .debate-title {
  border-bottom: 4px solid #aaa;
  padding: 0 0 15px 0;
}
.debate .content {
  margin-left: 15px;
}
.debate .content h3 {
  font-size: 1.1em;
  color: #000;
  font-weight: 800;
}
.debate .content p {
  font-size: 1.2em;
}
.debate .content p a {
  font-weight: 700;
  color: #3f3c3c;
}

.vs {
  color: white;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  background-color: #000;
  border-radius: 100%;
  width: 25%;
  margin-left: 130px;
}

.second-debate {
  margin-top: 20px;
  border-bottom: 4px solid #aaa;
}

.opinion {
  margin-top: 30px;
}
.opinion h3 a {
  font-size: 1.2em;
  color: #aaa;
}
.opinion .opinion-box img {
  margin-right: 16px;
  height: 100%;
}

.special-card {
  border: 1px solid #aaa;
  text-align: center;
}
.special-card .card-body {
  padding-left: 15px;
  font-size: large;
}
.special-card .card-body .card-title {
  font-weight: 900;
  font-size: 1.5em;
}

form {
  max-width: 300px;
  margin: 0px 30px 30px 10px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;
}
form img {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: center/contain no-repeat #f72210;
  margin-right: 10px;
}
form h4 {
  font-size: 1em;
}
form input {
  width: 100%;
}
form button {
  color: white;
  cursor: pointer;
  font-weight: 900;
  background-color: #f61602;
  border-radius: 3px;
  width: 100%;
}

.us {
  border-top: 1px solid #aaa;
  margin-top: 50px;
  padding: 20px 0 20px 0;
}
.us h2 {
  color: #f61602;
}
.us .card-body {
  font-size: 1.3em;
  color: #000;
  font-weight: 600;
}
.us aside img {
  width: 25%;
}
.us aside .d-flex {
  margin-bottom: 30px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 20px;
}
.us aside .d-flex:last-child {
  border-bottom: 0px;
}
.us aside .d-flex h5 {
  margin-left: 10px;
}
.us aside .d-flex h5 a {
  color: #000;
}

.container-fluid .second-section {
  width: 100%;
}
.container-fluid .second-section .header {
  display: flex;
  align-items: center;
  padding: 0 0 10px 500px;
  border-bottom: 1px solid lightgrey;
}
.container-fluid .second-section .header .logo-img {
  width: 30px;
  background-color: red;
}
.container-fluid .second-section .header .logo-name {
  padding-top: 6px;
  padding-left: 10px;
  font-weight: 1000;
  align-items: center;
}

.container-fluid .second-section .second-section-1 {
  padding: 20px 0px;
}
.container-fluid .second-section .second-section-1 .second-section-item {
  position: relative;
}
.container-fluid .second-section .second-section-1 .second-section-item .card .h31 {
  position: absolute;
  bottom: 39px;
  background-color: lightgrey;
  color: red;
  font-size: 20px;
  font-weight: bolder;
}
.container-fluid .second-section .second-section-1 .second-section-item .card .h30 {
  background-color: lightgrey;
  font-size: 20px;
  font-weight: bolder;
  padding: 20px 0;
}
.container-fluid .second-section .second-section-1 .second-section-item .card .h30 a {
  color: black;
}

.container-fluid .second-section .second-section-2 .second-section-item {
  position: relative;
}
.container-fluid .second-section .second-section-2 .second-section-item .card .h31 {
  position: absolute;
  bottom: 100px;
  background-color: lightgrey;
  color: red;
  font-size: 20px;
  font-weight: bolder;
}
.container-fluid .second-section .second-section-2 .second-section-item .card .h32 {
  font-size: 20px;
  font-weight: bolder;
  padding: 20px 0;
}
.container-fluid .second-section .second-section-2 .second-section-item .card .h32 a {
  color: black;
}

.subscribe h2 {
  color: #f72210;
  font-size: 1.3em;
  text-transform: uppercase;
}
.subscribe .d-flex {
  padding: 20px;
  background-color: #e0d8d8;
}
.subscribe .sub {
  padding: 20px;
}

.newsletter {
  border: 1px solid #aaa;
}
.newsletter .newsletter-img img {
  width: 100%;
  height: 100%;
}
.newsletter .newsform form {
  background-color: white;
  border: none;
  margin: 0;
  padding: 0 0 94px 0;
}

.col-md-5 h2 {
  color: #f72210;
  font-size: 1.3em;
  text-transform: uppercase;
}

.container-fluid footer .footer-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}
.container-fluid footer .footer-1 svg {
  fill: red;
}
.container-fluid footer .footer-1 .svg-footer {
  align-items: center;
}
.container-fluid footer .footer-1 .svg-footer .foot-para {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 14px;
}
.container-fluid footer .footer-1 .foot-icons i {
  padding-right: 14px;
}
.container-fluid footer .footer-2 ul {
  list-style-type: none;
}
.container-fluid footer .footer-2 ul li {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid lightgray;
  font-size: 15px;
}
.container-fluid footer .footer-2 ul li a {
  color: #636363;
}
.container-fluid footer .footer-2 ul li .bold {
  font-weight: 800;
}

@media screen and (min-width: 764px) and (max-width: 991px) {
  .navbar,
  .nav-2 {
    display: none;
  }

  
}