.nav-header {
  background-color: red;
  height: 100px;
  padding: 20px 20px;
  color: white;

  .row {
    display: flex;
    align-items: center;

    .weather-date {
      display: flex;
      flex-direction: column;

      .weather {
        padding-bottom: 15px;
        a {
          color: #fff;
          font-weight: 700;
        }
          &:hover{
            text-decoration: none;
          }
      }

      .date {
        font-size: 1.2em;
      }
    }

    .right {
      padding-left: 150px;
      align-content: space-between;
      text-decoration: none;

      .right-span {
        padding-right: 15px;
      }
    }
  }

}

#login {
  margin-right: 10px;
}

#login,
#subscribe-btn {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

#subscribe-btn {
  background-color: #ffe400;
  border-radius: 99em;
  padding: 1px 10px;
  white-space: nowrap;
  color: #000;
}

#hamburger {
  font-size: 1em;
  color: #fff;
  margin-left: .5em;
}

.container-fluid {
  max-width: 1380px;
  padding: 0;
}

.nav-1 {
  background-color: white;
  border-bottom: 3px solid;
  border-bottom-color: #f4f5f6;
  position: relative;

  .navbar-nav {
    justify-content: center;
    font-size: 17px;
    font-weight: 800;
  }

  .nav-item {
    border-right: 2px solid #d9d9d9;
  }

  .nav-link {
    color: #000;
  }
}

.nav-2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #f4f5f6;

  .nav-link {
    color: #807f84;
  }
}

.section-1 {
  h3{
  color: #999;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  }

  a {
    color: #000;
  }
}

.card {
  border: none;
  border-radius: 0;
  width: 100%;

  img {
    width: 100%;
  }

  .card-img-b-overlay {
    position: relative;
  }
  
  .card-img-b-overlay p {
    position: absolute;
    bottom: 0;
    color: rgb(251, 32, 32);
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .card-body{
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  }

  .card-title {
    font-size: 1.5em;
    padding: 10px 0 5px 0;
  }

  .card-text {
    font-size: 1.3em;
  }

  .image-name {
    position: absolute;
    bottom: 0;
    color: rgb(251, 32, 32);
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 2em;
    padding: 5px;
  }
}

.turn-1 {
  margin-top: 60px;

  h2 {
    font-size: 1.5em;
    color: rgb(129, 124, 124);
    font-weight: 500;
  }

  .turn h4 {
    font-size: 1.3em;
  }

  .crd {
    bottom: 0;
    color: rgb(251, 32, 32);
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1em;
    padding: 5px;
  }
}

.more-stories {
  h2 {
    font-size: 1.5em;
    color: #817c7c;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 0 10px 0;
  }

  .story {
    padding: 10px 0 20px 0;
    border-top: 1px solid #aaa;

    .para{
      font-size: 1.2em;
    }
  }

  img {
    padding: 5px 25px 0 5px;
  }
}

.debate {
  .debate-title {
    border-bottom: 4px solid #aaa;
    padding: 0 0 15px 0;
  }

  .content {
    margin-left: 15px;
    h3 {
      font-size: 1.1em;
      color: #000;
      font-weight: 800;
    }
  }
}

.container-fluid {
  .second-section {
    width: 100%;

    .header {
      display: flex;
      align-items: center;
      padding: 0 0 10px 500px;
      border-bottom: 1px solid lightgrey;

      .logo-img {
        width: 30px;
        background-color: red;
      }

      .logo-name {
        padding-top: 6px;
        padding-left: 10px;
        font-weight: 1000;
        align-items: center;
      }
    }
  }
}

.container-fluid {
  .second-section {
    .second-section-1 {
      padding: 20px 0px;
      .second-section-item {
        position: relative;

        .card {
          .h31 {
            position: absolute;
            bottom: 39px;
            background-color: lightgrey;
            color: red;
            font-size: 20px;
            font-weight: bolder;
          }

          .h30 {
            background-color: lightgrey;
            font-size: 20px;
            font-weight: bolder;
            padding: 20px 0;
            
            a {
              color: black;
            }
          }
        }
      }
    }
  }
}


.container-fluid {
  .second-section {
    .second-section-2 {

      .second-section-item {
        position: relative;

        .card {
          .h31 {
            position: absolute;
            bottom: 100px;
            background-color: lightgrey;
            color: red;
            font-size: 20px;
            font-weight: bolder;
          }

          .h32 {
            font-size: 20px;
            font-weight: bolder;
            padding: 20px 0;
            
            a {
              color: black;
            }
          }
        }
      }
    }
  }
}